.text-type {
    display: inline-block;
    position: relative;
}

.text-type__content {
    display: inline-block;
}

.text-type__cursor {
    display: inline-block;
    margin-left: 2px;
    opacity: 1;
    transition: opacity 0.1s;
}

.text-type__cursor--hidden {
    opacity: 0;
}